header {
    border: inset #bf80ff;
    background-image: url("Purple_Galaxy.jpg");
    color: white;
}

body {
    background-color: #e6ccff;
    color: rgb(0,0,0);
    font-family: "Open Sans", sans-serif;
    text-align: center;
}

#content {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

footer {
	font-style: italic;
	font-size: 90%;
    color: white;
    background-color: #cc99ff;
    margin: auto;
    width: 30%;
    border: 5px inset #bf80ff;
    padding-bottom: 25px;
}

/*#container {
    width: 300px;
    background-color: white;
    margin: auto;
}
#first {
    width: 100px;
    float: left;
    height: 300px;
    background-color: blue;
}
#second {
    width: 200px;
    float: left;
    height: 300px;
    background-color: green;
}*/

/*#clear {
    clear: both;
}*/

